@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans';
  background: #ece6d9;
}

header {
  text-align: center;
}

header .order {
  margin-top: 20px;
}

header h1 {
  font-size: 50px;
  color: #8e1313;
}

button,
a {
  text-decoration: none;
  margin: 0 10px 0 0;
  color: #1195c9;
  border: 3px solid #1195c9;
  background: #d5f0ff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
button:disabled {
  color: #676b6d;
  border: 3px solid #676b6d;
  background: #dedede;
}